.title__oraciones{
    text-align: center;
    font-size:1.6em;
    font-weight: bold;
    margin-top: 2rem;
    text-decoration: underline;
}

.oraciones__container__main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.cotainer__card__main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 1rem;

}
.container__main__oracion__card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: (86, 153, 211);
    color: #000000;
    padding: 1rem;
    border-radius: 10px;
    width: 70%;
    height: 'auto';
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    max-height: 500px;

}
.imgMain{
    margin-top: 2rem;
    width: 80%;
    height: 80%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.btn__main{
    background-color: rgb(94, 96, 248);
    color: white;
    font-size: 1.3rem;
    padding:1rem;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
    border-radius: 10px;
    width: 'auto';
    height:  'auto';
}
 h2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.card__descripcion{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
}


/* mediq query lasptop and tablet */
@media (min-width: 768px) {
    .cotainer__card__main{
        flex-direction:row ;
        gap: 1rem;
        justify-content: center;
        margin-top: 12rem;
    }
    .title__oraciones{
        margin-top: 4rem;
        font-size: 3rem;
    }
}