nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
     padding: 2rem;
}
.logo{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.btn_Orc_Personalizada{
    width: 100px;
    font-size: 1.2rem;
    
}


/* mediq query lasptop and tablet */
@media (min-width: 768px) {
    .logo{
        font-size: 1.9rem;
    }
    nav{
        flex-direction: row;
    }
}