nav{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.container-nav , li {
    list-style: none;
    padding: 0.5rem 1rem;
}
.container-nav , li a{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
}