.h1__oracion__diaria{
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
}
.card__oraciones__diarias_main{
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-top: 4rem;
    */
    display: grid;
    justify-content: center;

    grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */

  
    
}
.card__oraciones__diarias{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 1.4rem;
    width: 200px; /*  in mobil 190px */
    height: 300px;

   border-radius: 2rem;
   margin: 2rem;

}
.card__oraciones__diarias , h2{
    text-align: center;
    margin-top: 1rem;
}
.card__oraciones__diarias , p{
    text-align: center;
    margin-top: 1rem;
}

.btn__oracion__diaria{
    padding: 0.5rem;
    width: 100px;
    height: 'auto';
    margin-top: 2rem;
    background-color: antiquewhite;
    border: none;
    border-radius: 1rem;
    color: black;
    cursor: pointer;

}
.btn__oracion__diaria:hover{
    background-color: rgb(255, 220, 20);
    color: black;
    
}
@media (min-width: 768px) {
    .card__oraciones__diarias_main {
        grid-template-columns: repeat(3, 0.1fr);

    }
    .card__oraciones__diarias{
        width: 350px;
    }
    
}
